body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00274d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
}

.player-card {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

iframe {
  width: 100%;
  border: none;
  height: 600px;
}